# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# Data
ssd_core/data/raw/
ssd_core/data/processed/

# Audit and export
ssd_core/audit/
ssd_core/export/

# OS
.DS_Store
Thumbs.db
